.clock-time {
	background-color: #000000A0;
	color: #FFFFFF;
	font-family: 'Lucida Consolas', 'Console', 'Courier New', 'Courier', monospace;
	position: fixed;
	bottom: 8px;
	right: 4px;
	display: block;
	z-index: 2;
}
span.clock-time-block {
	vertical-align: middle;
	margin: 0 8px;
	opacity: 100%;
}
img.clock-time-block {
	vertical-align: middle;
	margin: 0 8px;
	opacity: 100%;
	background-color: #00004AFF;
}
.clock-time-blocks {
	line-height: 16px;
}
.clock-time:hover {
	opacity: 0;
	animation: opacitier 1s infinite linear normal;
	animation-iteration-count: 1;
}
.clock-time:active {
	opacity: 0;
	animation: opacitier 1s infinite linear normal;
	animation-iteration-count: 1;
}
@keyframes opacitier {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0;
	}
}
